body
{
  color: white;
  background: #c0d3ff;
}
span
{
  font-size: 30px;
}
#camera , #snapshot
{
  border: 2px dashed black;
  width: 350px;
  height: 305px; 
}
#result_emotion_name ,#result_emotion_name2  
{
  color: black;
}
.ename
{
  font-size: 40px;
}
.updateemoji
{
  font-size:48px;
}
